#root {
  color: black;
}

.border-gradient {
  border: 3px solid;
  border-image: linear-gradient(
    to right,
    red,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-image-slice: 1;
}

.card-container {
  box-shadow: 0 0 10px 0px #ff0000, 0 0 20px 5px #00ff00, 0 0 30px 10px #0000ff;
  /* Adjust the colors and sizes as per your preference */
}
.input::placeholder,
.textarea::placeholder {
  color: #f0eded; /* Change this to the desired color */
}
